!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Hilbert Curve

    %link(rel="stylesheet" href="./stylesheets/hilbert-curve.css")
  %body
    .section
      %canvas#canvas

    .section#hilbert3d

    .controls
      %form{:role=>"form"}
        -["translateX", "translateY"].each do |translate|
          .form-group
            %label{:for=>"#{translate}"} #{translate}
            %input{:type=>"range", :id=>"#{translate}", :min=>"0", :max=>"500", :units=>"px"}
            .value

        -["rotateX", "rotateY", "rotateZ"].each do |axis|
          .form-group
            %label{:for=>"#{axis}"} #{axis}
            %input{:type=>"range", :id=>"#{axis}", :min=>"-180", :max=>"180", :units=>"deg"}
            .value

        .form-group
          %label{:for=>"perspective"} perspective
          %input{:type=>"range", :id=>"perspective", :min=>"0", :max=>"5000", :units=>"px"}
          .value

        %button#reset-btn Reset


    .section
      %canvas#canvas-3d

    %script(src="./js/hilbert-curve.js")
